* {
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;


}
.blocks{
    width: 70%;

    display: flex;
    background: #444444;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.block{
    width: 30%;
    height: 400px;
    max-width: 400px;
    margin: 7px;
    background: #222222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
